.container {
    flex: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;

}

.heard {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-self: center;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 3%;
    width: 100%;
    position: absolute;
    width: 90%;
    align-self: center;
    height: 54px;
    left: 7px;
    top: 73px;
    background: #438D92;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

#tooglebtn1 {
    border-radius: 12px 0px 0px 12px;
}


#tooglebtn2 {
    border-radius: 0px 12px 12px 0px;
}

.tooglebtn {
    width: 45%;
    background-color: #0B666A;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: none;
}

.tooglebtn:hover {
    background-color: white;
    color: green;
    border: none;
    padding: 15px 32px;
}

.logo {
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: #fff;
    background: #0B666A;
    border-radius: 50px;
    border: none !important;

}

form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 35px;
    margin-top: 35%;
    margin-left: 20%;
    padding-left: 3%;
    height: 200px;
    width: 60%;
    background-color: #438D92;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-self: center;
    padding-top: 35px;
}

.btn {
    border-radius: 12px;
    font-size: larger;
    padding-left: 12%;
    background-color: #0B666A;
    color: aliceblue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 120%;
    margin-left: 2%;
    border: none;
    height: 50px;
}

.btn:hover {
    background-color: #ffffff;
    color: #0B666A;
}

#payBtn {
    width: 100px;
    margin-left: 40px;
}

.amount {
    outline: none;
    border-radius: 12px;
    font-size: larger;
    padding-left: 12%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    height: 50px;
}
.admin-menu{
    flex: 0;
    flex-direction: row;
    position: absolute;
    width: 81%;
    height: 89%;
    left: 0px;
    top: 11%;
    background: #438D92;
}
.home{
    flex: 0;
    flex-direction: row;
    border: #418383;
    position: absolute;
    width: 80px;
    height: 40px;
    top: 13px;
    left: 71%;
    background: #0B666A;
    border-radius: 11px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFF0F5;
}
.operatormenu{
    /* flex:0;
    position: absolute; */
    width: 172px;
 /* Rectangle 39 */
    height: 43px;
    left: 10px;
    top: 10px;
    border: none;
    background: rgba(217, 217, 217, 0.5022);
    border-radius: 12px;


/* Operator Menu */

/* position: absolute; */

height: 29px;
left: 59px;
top: 174px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height 

color: #000000;



 Rectangle 43 

position: absolute;
width: 33px;
height: 33px;
left: 17px;
top: 172px;

background: #878F96;
border-radius: 12px; */

}
