<app-header></app-header>

<div class="container">
    <div class="heard">
        <div class="col-4">
            <input type="button" class="tooglebtn" id="tooglebtn1" value="Admin">
            <input type="button" class="tooglebtn" id="tooglebtn2" value="Cashier">
        </div>
        <div class="col-4">
            <input type="button" class="logo" value="LOGO">
        </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
            <input type="text" placeholder="0.00" class="amount" formControlName="amount">
            <div class="buttons">
                <div class="col-6">
                    <input type="button" value="FEED PAPER" class="btn">
                </div>
                <div class="col-6">
                    <input type="submit" value="Pay"id="payBtn" class="btn">
                </div>
            </div>
        </div>
        
    </form>

</div>
