<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="operator_menu">
            <input class="btn_btn_primary" type="button" value="Manual Entry">
            <input class="btn_btn_primary" type="button" value="Reprint">
            <input class="btn_btn_primary" type="button" value="Batch Upload">
            <input class="btn_btn_primary" type="button" value="P. Update">
        </div>
    </div>
    <div class="imgContainer">
        <img [src]="imageUrl" alt=""/>
    </div>
</div>
<app-footer></app-footer>